@keyframes carousel {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes carousel-fade-in {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes carousel-fade-out {

    0% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

#carouselScaffold {
    view-transition-name: carousel;
    overflow: hidden;
    z-index: 0 !important;
    -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, .2) 0, #000 15%, #000 85%, rgba(0, 0, 0, .2));
}

::view-transition-group(carousel) {
    z-index: 0 !important;
    animation-timing-function: ease;
    animation-duration: .5s;
}

::view-transition-image-pair(carousel) {
    animation-timing-function: ease;
    animation-duration: .5s;
    animation-name: carousel-fade-in;
}

::view-transition-new(carousel) {
    animation-name: carousel-fade-in;
}

::view-transition-old(carousel) {
    animation-name: carousel-fade-out;
}



#carousel {
    display: inline-flex;
    gap: 16px;
    min-height: 300px;
    margin-block: 16px;
    animation: carousel 60s linear 0s infinite;
    z-index: 0 !important;
}

.childImage {
    border-radius: 16px;
    max-width: 500px;
    width: 85vw;
    min-height: 300px;
    object-position: center;
    object-fit: cover;
    background-color: #f0f0f0;
}

.wavy-circle {
    --s: 150px;
    /* adjust to control the size */
    width: var(--s);
    aspect-ratio: 1;
    --g: /calc(var(--s)*0.261) calc(var(--s)*0.261) radial-gradient(50% 50%, #000 99%, #0000 101%) no-repeat;
    mask: calc(50% + var(--s)*0.341) calc(50% + var(--s)*0) var(--g), calc(50% + var(--s)*0.241) calc(50% + var(--s)*0.241) var(--g), calc(50% + var(--s)*0) calc(50% + var(--s)*0.341) var(--g), calc(50% + var(--s)*-0.241) calc(50% + var(--s)*0.241) var(--g), calc(50% + var(--s)*-0.341) calc(50% + var(--s)*0) var(--g), calc(50% + var(--s)*-0.241) calc(50% + var(--s)*-0.241) var(--g), calc(50% + var(--s)*0) calc(50% + var(--s)*-0.341) var(--g), calc(50% + var(--s)*0.241) calc(50% + var(--s)*-0.241) var(--g), radial-gradient(calc(var(--s)*0.433), #000 99%, #0000 101%) subtract, calc(50% + var(--s)*0.5) calc(50% + var(--s)*0.207) var(--g), calc(50% + var(--s)*0.207) calc(50% + var(--s)*0.5) var(--g), calc(50% + var(--s)*-0.207) calc(50% + var(--s)*0.5) var(--g), calc(50% + var(--s)*-0.5) calc(50% + var(--s)*0.207) var(--g), calc(50% + var(--s)*-0.5) calc(50% + var(--s)*-0.207) var(--g), calc(50% + var(--s)*-0.207) calc(50% + var(--s)*-0.5) var(--g), calc(50% + var(--s)*0.207) calc(50% + var(--s)*-0.5) var(--g), calc(50% + var(--s)*0.5) calc(50% + var(--s)*-0.207) var(--g);
    background: linear-gradient(45deg, rgba(240, 203, 0, 1) 0%, rgba(255, 177, 0, 1) 100%);
    position: absolute;
    top: 250px;
    right: 200px;
    z-index: 40;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(-15deg);
}

@media (min-width: 768px) {
    #carousel {
        max-height: 300px;
    }

    .wavy-circle {
        --s: 175px;
        /* adjust to control the size */
    }
}

@media (max-width: 1024px) {
    #carouselScaffold {
        -webkit-mask-image: none;
    }

    .wavy-circle {
        --s: 175px;
        top: 250px;
        right: 20px;
        /* adjust to control the size */
    }
}

.sticker-text {
    color: black;
    user-select: none;
    -webkit-user-select: none;
}

.emphasis {
    font-size: 1.25rem;
    font-weight: bold;
}

.slant {
    font-style: italic;
    font-weight: 600;
}

.sticker-rim {
    rotate: -57deg;
}

.disclaimer {
    font-size: 0.7rem;
    position: absolute;
    bottom: 30px;
    @apply text-neutral-700;
}